# Python
__pycache__/
*.pyc
.env/
.mypy_cache/
__init__.py

# Virtual env
venv/
.env
.venv
# Flask instance folder
instance/

# VSCode stuff
.vscode/
.idea/
.DS_Store
.code-workspace

# DB backups or logs
*.sqlite3
*.log
*.DB
*.db
*.db-journal


# Certs
awa.com-key.pem
awa.com.pem

# Thing not yet implemented
signUpJSLogic.js
forgot_password.html
to-do.txt
.env
*.pem
*.key

# react stuff
client/node_modules/
client/dist/
client/build/

# misc
dump_clean_code.py
CLEAN_project_dump.txt
