<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}FocusFlow{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('main.load_landing_page') }}">FocusFlow</a></h1>
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('auth.logout') }}" method="post">
                <button id="logoutBtn" type="submit">Logout</button>
            </form>
            {% endif %}
        </header>


        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 FocusFlow</p>
        </footer>

        {% block scripts %}{% endblock %}
    </body>
</html>
